body {
  background-color: #ebebeb;
  background-size: 20px 20px;
  background-image: linear-gradient(to right, lightgrey 1px, transparent 1px), linear-gradient(to bottom, lightgrey 1px, transparent 1px);
}

#display {
  
}

.sidebar {
  /*border: solid black 1px;*/
}

.graph {
  /*border: solid black 1px;*/
}

.logo {
  height: 50px;
  margin-left: 15%;
}

.searchForm {
  border: solid #f9f9f9 1px;
  height: 300px;
  width: 80%;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 1%;
  box-shadow: 4px 4px 4px lightgrey;
}

.questionMark {
  margin-left: 5%;
  color: grey;
  position: relative;
}

.column1 {
  background: linear-gradient( to right, rgba(235,235,235,1) 70%, rgba(235,235,235,0.3));
}

.searchTitle {
  text-align: center;
  color: grey;
  font-weight: bold;
  margin-top: 5px;

}

.angleUp {
  color: grey;
  float: right;
  margin-right: 5%;
  font-size: 25px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.searchInput {
  background-color: transparent;
  border-radius: 1%;
  border: solid lightgrey 1px;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  height: 40px;
}

.infoForm {
  border: solid #f9f9f9 1px;
  height: 121px;
  width: 80%;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 1%;
  box-shadow: 4px 4px 4px lightgrey;
}

#centerImg {
  background-image: url("img/center.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#centeringImg {
  background-image: url("img/centering.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#arrowImg {
  background-image: url("img/arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#downloadImg {
  background-image: url("img/download.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#ofTotalImg {
  background-image: url("img/ofTotal.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#selectedImg {
  background-image: url("img/selected.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.descriptionForm {
  border: solid #f9f9f9 1px;
  height: 400px;
  width: 80%;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 1%;
  box-shadow: 4px 4px 4px lightgrey;
}

.dropdown-toggle {
  color: grey;
  border-radius: 1%;
  background-color: #ffffff;
  border: solid lightgrey 1px;
  width: 90%;
  margin-left: 5%;
  margin-top: 15px;
  height: 40px;
  text-align: left;
}

.caret {
  float: right;
}

.topRow {
  height: 60px;
  width: 100%;
  border-bottom: solid lightgrey 1px;
}

.bottomRow {
  width: 100%;
  height: 60px;
}

.box {
  /*border: solid grey 1px;*/
  height: 50px;
  width: 50px;
  margin-top: 5px;
  text-align: center;
  margin-left: 12%; 
}

.descriptionForm {
  text-align: center;
  overflow-y: scroll; 
}

.descImg {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-bottom: 20px;
}

.descPara {
  margin-left: 5%;
  margin-right: 5%;
}

/*---------------------------------------------------------------*/
.frame {
    fill: none;
    stroke: #000;
  }
  
  .axis text {
    font: 10px sans-serif;
  }
  
  .axis line,
  .axis circle {
    fill: none;
    stroke: grey;
    /*stroke-dasharray: 4;*/
  }
  
  .axis:last-of-type circle {
    stroke: steelblue;
    stroke-dasharray: none;
  }
  
  .line {
    fill: none;
    stroke: orange;
    stroke-width: 3px;
  }

  svg:not(:root){
    overflow: visible;
  }

  /*svg {
    overflow: visible;
  }*/

  /*--------------------------------------------------------------*/