<div class="searchForm">
  <div class="row">
    <div class="col-xs-2"><p class="questionMark">?</p></div>
    <div class="searchTitle col-xs-8"><p>{{search.name}}</p></div>
    <div class="angleUp col-xs-2"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
  </div>
  
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Community Pulse Score
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Thing 1</a></li>
      <li><a href="#">Thing 2</a></li>
      <li><a href="#">Thing 3</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">All Segements
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Thing 1</a></li>
      <li><a href="#">Thing 2</a></li>
      <li><a href="#">Thing 3</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">All Tags
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Thing 1</a></li>
      <li><a href="#">Thing 2</a></li>
      <li><a href="#">Thing 3</a></li>
    </ul>
  </div>
  <form ng-submit="search.callApi()">
    <input class="searchInput" type="search" placeholder="Search for users...">
  </form>

</div>